*{
    margin: 0;
    padding: 0;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
     min-height: 100vh;
}
.container{
    padding: 2rem;
    height: 35vh;
    border-radius: 2rem;
    /* position: relative; */
    /* height: 225px;
    width: 375px; */
    z-index: 100;
    backdrop-filter: blur(25px);
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
    
}
.container h2{
    color: #000000;
    font-weight: bold;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 1rem 0
}
.location i {
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: -1.5rem;
}
.location input{
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    padding: 0.5rem;
    background-color:  rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
}
section{
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #121321;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    perspective: 1000px;
}
section::before{
    content: "";
    position: absolute;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    transform: translate(-150px,-100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    /* background-color: #9c27b0; */
}
section::after{
    content: "";
    position: absolute;
    height: 275px;
    width: 275px;
    border-radius: 50%;
    transform: translate(150px,100px);
    background: linear-gradient(90deg, #9c27b0, #f3f5f5);
    /* background-color: #9c27b0; */
}
.other{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #121321;
    font-size: 1.5rem;
    margin-top: 2.5rem;
}
.other input{
    visibility: hidden;
}
.other input,button{
    border: none;
    outline: none;
    width: 50%;
    font-size: 1rem;
    padding: 0.5rem;
   background-color: rgba(255, 255, 255, 0.1);
    box-shadow: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.data{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}
button{
    margin-left: 5rem ;
    border-radius: 2rem;
     box-shadow: 10px 7px 2px rgba(97, 82, 82, 0.5);
     cursor: pointer;
}